body {
  padding : 20px;                           /* 내부 여백                */
}

.App {
  margin : 0 auto;                          /* 화면상의 남는 요소를 maring으로 하여서 가운대로 배치하게끔 해줌.*/
  width: 400px;                             /* 너비    */
}
.App > section {
  background-color: rgb(245, 245, 245);   /*  연한 회색              */
  border : 1px solid rgb(240, 240, 240);  /*  직선                   */
  border-radius: 5px;                       /* 5px 정도 모서리를 둥글게! */
  padding : 20px;                           /* 내부여백                 */
  margin-bottom : 10px;                     /* 아랫방향의 외부 여백      */
};